<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>main</title>
    <!-- CSS 파일 경로를 절대 경로로 수정 -->
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
<main>
    <a href="/home.html"> <!-- home.html 경로도 절대 경로로 수정 -->
        <div id = "img_div">
            <!-- 이미지 경로를 절대 경로로 수정 -->
            <img src="/assets/Redeemer.jpg" alt="main_img">
            <h1 id = "img_text">Dnf Auction</h1>
        </div>
    </a>
</main>
<a href="https://developers.neople.co.kr/">
    <footer>
        <!-- 이미지 경로를 절대 경로로 수정 -->
        <img src="/assets/column_col.png" alt="neople">
    </footer>
</a>
</body>
</html>